doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='d3/dist/d3.min.js')
    script(src='p5/lib/p5.min.js')
    script(src='vector.js')
    script(src='boid.js')
  body
    block content
